

@import url(
    'https://fonts.googleapis.com/css?family=Patua+One');

@media (min-width: 588px) {
    .container-fluid {
        background-color: pink;
    }



    body{
        font-family: 'Patua One', cursive;
        color:turquoise;
    }

    .container-fluid{
        background-color:black;
    }

    .nav-pills{
        float:right;
    }